/* Sets the height of the body and html elements to 100% to fill the viewport, 
   removes default margins, and sets a default font family. */
html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Styles for the body element to center its children, set a text color, 
   disable scrollbars, and position it relative to its normal position. */
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
  overflow: hidden;
  position: relative;
}

/* Adds a blurred background image that covers the viewport. */
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/static/city.png');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

/* Adds a radial gradient overlay on top of the background image to create a vignette effect. */
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, transparent 20%, black 100%);
  z-index: -1;
}

/* Styles for a centered div with a semi-transparent background, light border, 
   rounded corners, and a drop shadow. */
.center-div {
  width: 500px;
  height: 200px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent white */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light white border */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px) brightness(1.2); /* Blur and brightness filter */
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  z-index: 2;
}

  /* Adds an animation to the centered div when it is hovered over, 
     making it appear to lift off the page. */
.center-div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Styles for a small text element with a bold font weight. */
.small-text {
  font-size: 30px;
  font-family: Arial, sans-serif;
  color: #222222;
  font-weight: bold;
}

/* Styles for a large text element with a bold font weight. */
.big-text {
  font-size: 50px;
  font-family: Arial, sans-serif;
  color: #222222;
  font-weight: bold;
}
