<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}" type="image/png">
</head>
<body>
    <div class="center-div">
        <p class="small-text">Number of people</p>
        <p class="big-text">{{ element }}</p>
    </div>
    <!-- Display the counter value fetched from the FastAPI endpoint -->
   <!--<h2>Counter Value: {{ counter_value }}</h1> -->
</body> 
</html>
